body {
  font-family: 'Ranga',cursive;
  margin: 0px;
}

#header {
  background-color: #F2994A;
  width: 1370px;
  height: 28px;
  padding: 10px;
  margin-bottom: 10px;
}

#navigation a {
  text-decoration: none;
  cursor: pointer;
}
#content{
  background-color: #FDCA9D;
  margin: left;
  padding: 10px;
  width: 503px;
  height: 250px;
}
#expert{

}
#footer{
  background-color: #F2994A;
  width: 1370px;
  height: 28px;
  text-align:  center;
}
#job {

margin-bottom: 115px;
}
